<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.album.mapper.CulAlbumMapper">
    
    <resultMap type="CulAlbum" id="CulAlbumResult">
        <result property="albumId"    column="album_id"    />
        <result property="albumName"    column="album_name"    />
        <result property="albumImage"    column="album_image"    />
        <result property="albumTitle"    column="album_title"    />
        <result property="albumSlogan"    column="album_slogan"    />
        <result property="albumIntroduce"    column="album_introduce"    />
        <result property="ifBan"    column="if_ban"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <resultMap id="CulAlbumInfoResult" type="AlbumCulDTO">
        <result property="culCreativityId"    column="cul_creativity_id"/>
        <result property="sightsId"    column="sights_id"    />
        <result property="userId" column="user_id"/>
        <result property="culCreativityTitle"    column="cul_creativity_title"    />
        <result property="culCreativityImage" column="cul_creativity_image"/>
    </resultMap>

    <sql id="selectCulAlbumVo">
        select album_id, album_name, album_image, album_title, album_slogan, album_introduce, if_ban,
               create_time, create_by, update_time, update_by, remark from cul_album
    </sql>

    <select id="selectCulAlbumList" parameterType="CulAlbum" resultMap="CulAlbumResult">
        <include refid="selectCulAlbumVo"/>
        <where>  
            <if test="albumName != null  and albumName != ''"> and album_name like concat('%', #{albumName}, '%')</if>
            <if test="albumTitle != null  and albumTitle != ''"> and album_title like concat('%', #{albumTitle}, '%')</if>
            <if test="albumSlogan != null  and albumSlogan != ''"> and album_slogan like concat('%', #{albumSlogan}, '%')</if>
            <if test="albumIntroduce != null  and albumIntroduce != ''"> and album_introduce like concat('%', #{albumIntroduce}, '%')</if>
            <if test="ifBan != null  and ifBan != ''"> and if_ban = #{ifBan}</if>
        </where>
    </select>
    
    <select id="selectCulAlbumByAlbumId" parameterType="Long" resultMap="CulAlbumResult">
        <include refid="selectCulAlbumVo"/>
        where album_id = #{albumId}
    </select>
    <select id="getAlbumSwiper" resultType="com.ruoyi.album.domain.CulAlbum" resultMap="CulAlbumResult">
        <include refid="selectCulAlbumVo"/>
        where if_ban = "N"
        order by create_time
    </select>

    <select id="getCulByAlbumId" resultType="com.ruoyi.album.domain.dto.AlbumCulDTO" parameterType="long" resultMap="CulAlbumInfoResult">
        select  a.cul_creativity_id,a.sights_id,a.user_id,a.cul_creativity_title,a.cul_creativity_image
                from sights_cul_creativity a left join cul_album_connect b on a.cul_creativity_id = b.cul_id
                where a.is_ok = "Y"  and a.status = 0 and a.del_flag = "N" and b.album_id = #{albumId}
    </select>

    <select id="getAlbumInfo" resultType="com.ruoyi.album.domain.CulAlbum" parameterType="long" resultMap="CulAlbumResult">
        <include refid="selectCulAlbumVo"/>
        where if_ban = "N" and album_id = #{albumId}
    </select>
    <select id="getIdByAlbum" resultType="java.lang.Long" parameterType="long">
        select cul_id from cul_album_connect where album_id=#{albumId}
    </select>
    <select id="judgeCulIfAlbum" resultType="java.lang.Integer">
        select count(*) from cul_album_connect where  cul_id = #{culId} and album_id =#{albumId} limit 1
    </select>

    <insert id="insertCulAlbum" parameterType="CulAlbum" useGeneratedKeys="true" keyProperty="albumId">
        insert into cul_album
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="albumName != null and albumName != ''">album_name,</if>
            <if test="albumImage != null">album_image,</if>
            <if test="albumTitle != null">album_title,</if>
            <if test="albumSlogan != null">album_slogan,</if>
            <if test="albumIntroduce != null">album_introduce,</if>
            <if test="ifBan != null">if_ban,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="albumName != null and albumName != ''">#{albumName},</if>
            <if test="albumImage != null">#{albumImage},</if>
            <if test="albumTitle != null">#{albumTitle},</if>
            <if test="albumSlogan != null">#{albumSlogan},</if>
            <if test="albumIntroduce != null">#{albumIntroduce},</if>
            <if test="ifBan != null">#{ifBan},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>
    <insert id="addCulInAlbum">
        insert into cul_album_connect(cul_id,album_id,create_by) values (#{culId},#{albumId},#{createBy})
    </insert>

    <update id="updateCulAlbum" parameterType="CulAlbum">
        update cul_album
        <trim prefix="SET" suffixOverrides=",">
            <if test="albumName != null and albumName != ''">album_name = #{albumName},</if>
            <if test="albumImage != null">album_image = #{albumImage},</if>
            <if test="albumTitle != null">album_title = #{albumTitle},</if>
            <if test="albumSlogan != null">album_slogan = #{albumSlogan},</if>
            <if test="albumIntroduce != null">album_introduce = #{albumIntroduce},</if>
            <if test="ifBan != null">if_ban = #{ifBan},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where album_id = #{albumId}
    </update>

    <delete id="deleteCulAlbumByAlbumId" parameterType="Long">
        delete from cul_album where album_id = #{albumId}
    </delete>

    <delete id="deleteCulAlbumByAlbumIds" parameterType="String">
        delete from cul_album where album_id in 
        <foreach item="albumId" collection="array" open="(" separator="," close=")">
            #{albumId}
        </foreach>
    </delete>
    <delete id="delCulInAlbum">
        delete from cul_album_connect where  cul_id = #{culId} and album_id =#{albumId} limit 1
    </delete>
</mapper>