<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sights.mapper.SightsUserCollectMapper">
    <resultMap id="SightsUserCollectResult" type="SightsUserCollect">
        <result property="userId" column="user_id"/>
        <result property="sightsId" column="sights_id"/>
        <result property="collectTime" column="collect_time"/>
    </resultMap>

    <insert id="addSightsCollection" parameterType="SightsUserCollect" useGeneratedKeys="true">
        insert sights_user_collect
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="user_id !=null">user_id,</if>
            <if test="sights_id !=null">sights_id,</if>
            <if test="create_time !=null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="user_id !=null">#{userId},</if>
            <if test="sights_id !=nul">#{sightsId},</if>
            <if test="create_time !=null">#{collectTime},</if>
        </trim>
    </insert>
    <insert id="insertCollectByBatches">
        # 批量插入
    </insert>

    <delete id="cancelSightsCollection" parameterType="SightsUserCollect">
        delete from sights_user_collect where user_id = #{userId} and sights_id =#{sightsId}
    </delete>
    <select id="selectCollectSightsRecord" resultType="com.ruoyi.sights.domain.SightsBase" parameterType="long" resultMap="com.ruoyi.sights.mapper.SightsBaseMapper.SightsBaseResult">
        select u.sights_id,u.sights_hits,u.sights_like,u.sights_view,u.sights_score,
               u.sights_name, u.sights_location, u.sights_longitude, u.sights_latitude,
               u.sights_image, u.sights_intro, u.sights_detail, u.sights_category,
               u.sights_nation, u.sights_city, suc.collect_time
        from sights_base u
        left join sights_user_collect suc on u.sights_id = suc.sights_id
        where suc.user_id = #{userId}
        order by suc.collect_time
    </select>
    <select id="judgeCollect" resultType="java.lang.Integer">
#         判断是否收藏
    </select>

</mapper>