<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sights.mapper.SightsRecordLikeMapper">
    <resultMap id="SightsRecordLikeResult" type="SightsRecordLike">
        <result property="userId" column="user_id"/>
        <result property="sightsId" column="sights_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    <resultMap id="SightsReturnDTOResult" type="SightsReturnDTO">
        <result property="sightsId"    column="sights_id"/>
        <result property="sightsHits" column="sights_hits"/>
        <result property="sightsLike" column="sights_like"/>
        <result property="sightsView" column="sights_view"/>
        <result property="sightsScore" column="sights_score"/>
        <result property="sightsCollect" column="sights_collect"/>
        <result property="sightsName"    column="sights_name"/>
        <result property="sightsEng" column="sights_eng"/>
        <result property="sightsIntro"    column="sights_intro"    />
        <result property="sightsImage"    column="sights_image"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <insert id="insertUserSightsLike" parameterType="SightsRecordLike" useGeneratedKeys="true">
        insert sights_record_like
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId !=null ">user_id,</if>
            <if test="sightsId !=null">sights_id,</if>
            <if test="createTime !=null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId !=null">#{userId},</if>
            <if test="sightsId !=null">#{sightsId},</if>
            <if test="createTime !=null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateSightsViaLike" parameterType="long">
        update sights_base set sights_like = sights_like +1 where sights_id = #{sightsId}
    </update>

    <update id="declineSightsViaLike" parameterType="long">
        update sights_base set sights_like = sights_like -1 where sights_id = #{sightsId}
    </update>

    <delete id="deleteUserSightsLike" parameterType="SightsRecordLike" >
        delete from sights_record_like where user_id = #{userId} and sights_id = #{sightsId}
    </delete>

    <select id="judgeUserSightsExistLike" resultType="java.lang.Integer" parameterType="SightsRecordLike">
        select 1 from  sights_record_like
        where user_id = #{userId} and sights_id = #{sightsId}
        limit 1
    </select>
    <select id="getUserSightsCollect" resultType="com.ruoyi.sights.domain.DTO.SightsReturnDTO" parameterType="Long"
            resultMap="SightsReturnDTOResult">
            select distinct a.sights_id,a.sights_like,a.sights_hits,a.sights_intro,
                            a.sights_view,a.sights_collect,a.sights_score,
                            a.sights_name,a.sights_eng,a.sights_image,b.create_time
            from sights_base a
                left join sights_user_collect b
                    on a.sights_id = b.sights_id
            where b.user_id = #{userId}
            order by b.create_time desc
    </select>
    <select id="getUserSightsLike" resultType="com.ruoyi.sights.domain.SightsBase" parameterType="Long"
            resultMap="com.ruoyi.sights.mapper.SightsBaseMapper.SightsBaseResult">
        select distinct a.sights_id,a.sights_like,a.sights_hits,
                        a.sights_view,a.sights_collect,a.sights_score,
                        a.sights_name,a.sights_eng,a.sights_image,b.create_time
        from sights_base a
                 left join sights_record_like b
                           on a.sights_id = b.sights_id
        where b.user_id = #{userId}
        order by b.create_time desc
    </select>
    <select id="getUserSightsHits" resultType="com.ruoyi.sights.domain.SightsBase" parameterType="Long"
            resultMap="com.ruoyi.sights.mapper.SightsBaseMapper.SightsBaseResult">
        select distinct a.sights_id,a.sights_like,a.sights_hits,
                        a.sights_view,a.sights_collect,a.sights_score,
                        a.sights_name,a.sights_eng,a.sights_image,b.create_time
        from sights_base a
                 left join sights_record_hits b
                           on a.sights_id = b.sights_id
        where b.user_id = #{userId}
        order by b.create_time desc
    </select>
    <select id="getUserSightsView" resultType="com.ruoyi.sights.domain.SightsBase" parameterType="Long"
            resultMap="com.ruoyi.sights.mapper.SightsBaseMapper.SightsBaseResult">
        select distinct a.sights_id,a.sights_like,a.sights_hits,
                        a.sights_view,a.sights_collect,a.sights_score,
                        a.sights_name,a.sights_eng,a.sights_image,b.create_time
        from sights_base a
                 left join sights_record_history b
                           on a.sights_id = b.sights_id
        where b.user_id = #{userId}
        order by b.create_time desc
    </select>
</mapper>