<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sights.mapper.SightsCulCreativityRecordScoreMapper">
    <resultMap id="SightsCulCreativityRecordScoreResult" type="SightsCulCreativityRecordScore">
        <result property="userId" column="user_id"/>
        <result property="culCreativityId" column="cul_creativity_id"/>
        <result property="score" column="score"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <insert id="insertUserSightsCulCreativityScore" parameterType="SightsCulCreativityRecordScore">
#插入 用户 景点 评分
    </insert>
    <update id="updateUserSightsCulCreativityScore" parameterType="SightsCulCreativityRecordScore">
#修改 用户 对某景点的评分
    </update>
    <select id="checkUserSightsCulCreativityScore" resultType="java.lang.Integer" parameterType="SightsCulCreativityRecordScore">
#判断 用户 是否对景点评分
    </select>
    <select id="selectAverageSightsCulCreativityScore" resultType="java.lang.Double" parameterType="long">
#统计某景点的平均评分
    </select>
    <select id="selectCountScoreNumByCulCreativityId" resultType="java.lang.Integer" parameterType="long">
        #获取某景点的评分总数
    </select>

</mapper>